# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

/public/data/12_chiba_250m_pop.geojson

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

.vercel
/japan-map/public/data/12_chiba_250m_pop.geojson
/data/*
/public/data/kashiwa_public_facility_cat6.geojson
/public/data/kashiwa_public_facility.geojson
/public/data/kashiwa_public_facility_cat6_cleaned.geojson

!/data/final.geojson
/public/data/tiles
/public/data/kashiwa_population_with_estimate_old.geojson
/public/data/tiles_old
/public/tiles_old




/public/data/administration.geojson


/public/data/administration_prefecture.geojson

